<script>
	import { decks, storeDeck } from '$lib/store/library';
	import { onMount } from 'svelte';
	//import { CodeJar } from 'codejar?client';
	import { parse } from '$lib/parsers/markdown';
	import { queryString } from '$lib/urls';
	import { page } from '$app/stores';

	let editor = null;
	let codejar = null;
	let bulk = '';
	let saveStatus = null;

  //$: {
  //  if (codejar && bulk !== editor.textContent) {
  //    codejar.updateCode(bulk);
  //  }
  //}

  //onMount(() => {
  //  if (bulk) {
  //    editor.innerHTML = bulk;
  //  }
  //  codejar = CodeJar(editor);
  //});


	const saveEdit = (event) => {
		if (event.defaultPrevented) {
			return;
		}

		event.preventDefault();

		const parsedDecks = parse(editor.innerText);
		console.log('parsed into', parsedDecks);

		if (parsedDecks && parsedDecks.length) {
			saveStatus = 'saving...';
			const promises = [];
			for (let i = 0; i < parsedDecks.length; i++){
				promises.push(storeDeck(parsedDecks[i]));
			}

			Promise.all(promises).then(() => {
				saveStatus = 'Saved';
			});
		}
	};
</script>

<style>
	div.editor {
		padding: 1rem;
		font-family: monospace;
		min-height: 100px;
		white-space: pre-wrap;
		background: #fff;
		background: var(--main-background);
		color: #333;
		color: var(--main-color);
	}

.bar {
	padding: 10px;
}
</style>

<div>
	<a href="/{queryString($page.url.searchParams)}">Back to library</a>
</div>
<h2>Bulk Edit</h2>

<p>Bulk edit decks and cards using markdown formatting<p>

<details>
	<summary>Example Markdown Format</summary>
	<pre>
# Deck 1 Title
#tag
#another_tag
===
card 1 front
---
card 1 back
---
card 1 hint
---
card 1 notes
===
card 2 front
---
card 2 back
===

# Deck 2
#tag
===
card 1 front
---
card 1 back
---
card 1 hint
	</pre>
</details>


<!--div class="editor" bind:this={editor}/-->
<div class="editor" bind:this={editor} contenteditable="true" />

<div class="bar">
	<button on:click={saveEdit}>Save</button>
	<span class={'status'}>{saveStatus || ''}</span>
</div>
