<script lang="ts">
	import {
		decks,
		selectedTags,
		tags,
		visibleDecks,
	} from '$lib/store/library';
	import {
		toggleTagQuery,
		queryString
	} from '$lib/urls';
	import { page } from '$app/stores';
	import { allIn, anyIn } from '$lib/arrays';
</script>

<style>
.decks li {
	list-style: none;
}
.decks {
	padding: 0;
}

ul.tags.remove {
  padding: 0;
  margin: 0.5rem 0;
}

ul.tags.remove li {
}

ul.tags.remove li a {
  padding: 0.3em 0.8em 0.3em 0;
  display: inline-block;
  background: #fff2;
  border-radius: 0.5em;
  text-decoration: none;
}

ul.tags.remove li a:hover {
  background: #fff4;
}

ul.tags.remove li a::before {
  content: '×';
  background: #fff6;
  border-radius: 0.5em 0 0 0.5em;
  padding: 0.3em 0.3em;
  margin-right: 0.5em;
}

h4 {
  display: inline-block;
  margin: 0;
}
</style>

<div>
	<a href="/study{queryString($page.url.searchParams)}">Study visible</a>
	<a href="/bulk-edit{queryString($page.url.searchParams)}">Bulk edit</a>
</div>
{#if $selectedTags}
  <ul class="tags remove">
		{#each $selectedTags as tag}
			<li><a href={'/' + toggleTagQuery(tag, $page.url.searchParams, $selectedTags)}>#{tag}</a></li>
		{/each}
  </ul>
{/if}
{#if $decks}
  <h3>Decks</h3>
	<ul class="decks">
		{#each $visibleDecks as deck}
			<li>
				<details>
					<summary>
							<h4>{deck.name}</h4>
            <ul class="tags">
							{#if deck.tags}
								{#each deck.tags as tag}
									<li><a href={$page.url.pathname + toggleTagQuery(tag, $page.url.searchParams, $selectedTags)}>#{tag}</a></li>
								{/each}
							{/if}
						</ul>
						<div class="actions">
							<a href="edit/{deck['@id']}">Edit</a>
							<a href="study/{deck['@id']}">Study</a>
						</div>
					</summary>
					{#if deck.description}
						{#each deck.description.split('\n\n') as paragraph}
							<p>{paragraph}</p>
						{/each}
					{/if}
				</details>
			</li>
		{/each}
	</ul>
{/if}
