<script>
  export let icon;
  export let label;
  export let size;
  export let classes = '';

  const getSize = () => {
    if (size === 'double') {
      return '2em';
    } else if (size) {
      return size;
    } else {
      return '1em';
    }
  };
</script>

<style>
  [class^='icon-'],
  [class*=' icon-'] {
    /*XXX float: left;*/
    fill: currentColor;
    vertical-align: middle;
  }
</style>

<svg
  class="icon-{icon}
  {classes}"
  style="height: {getSize()}; width: {getSize()}"
  aria-label={label}>
  <use xlink:href="#icon-{icon}" />
</svg>
