<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="icon-footer" viewBox="0 0 24 24">
    <path
      d="M10.74,11.72C11.21,12.95 11.16,14.23 9.75,14.74C6.85,15.81 6.2,13
      6.16,12.86L10.74,11.72M5.71,10.91L10.03,9.84C9.84,8.79 10.13,7.74
      10.13,6.5C10.13,4.82 8.8,1.53 6.68,2.06C4.26,2.66 3.91,5.35
      4,6.65C4.12,7.95 5.64,10.73 5.71,10.91M17.85,19.85C17.82,20 17.16,22.8
      14.26,21.74C12.86,21.22 12.8,19.94
      13.27,18.71L17.85,19.85M20,13.65C20.1,12.35 19.76,9.65
      17.33,9.05C15.22,8.5 13.89,11.81 13.89,13.5C13.89,14.73 14.17,15.78
      14,16.83L18.3,17.9C18.38,17.72 19.89,14.94 20,13.65Z" />
  </symbol>
  <symbol id="icon-tags" viewBox="0 0 512 512">
    <path
      d="m110 128c0-10-4-19-11-26-7-7-16-11-26-11-10 0-19 4-26 11-7 7-10 16-10
      26 0 10 3 19 10 26 7 7 16 11 26 11 10 0 19-4 26-11 7-7 11-16 11-26z m305
      165c0 10-4 18-11 25l-140 141c-8 7-16 10-26 10-10
      0-19-3-26-10l-204-205c-8-7-14-16-19-29-5-12-7-23-7-33l0-119c0-10 3-18
      11-26 7-7 15-10 25-10l119 0c10 0 21 2 34 7 12 5 21 11 29 19l204 204c7 7 11
      16 11 26z m109 0c0 10-3 18-10 25l-141 141c-7 7-16 10-26 10-6
      0-12-1-16-4-5-2-10-7-16-12l135-135c7-7 10-15 10-25
      0-10-3-19-10-26l-205-204c-7-8-17-14-29-19-12-5-23-7-33-7l64 0c10 0 21 2 33
      7 12 5 22 11 29 19l205 204c7 7 10 16 10 26z" />
  </symbol>
  <symbol id="icon-note" viewBox="0 0 24 24">
    <path
      d="M9,22A1,1 0 0,1 8,21V18H4A2,2 0 0,1 2,16V4C2,2.89 2.9,2 4,2H20A2,2 0
      0,1 22,4V16A2,2 0 0,1 20,18H13.9L10.2,21.71C10,21.9 9.75,22 9.5,22V22H9Z" />
  </symbol>
  <symbol id="icon-linkedin" viewBox="0 0 512 512">
    <path
      d="m104 404l66 0 0-198-66 0z m71-259c-1-10-4-19-11-25-6-6-15-10-26-10-11
      0-20 4-27 10-7 6-11 15-11 25 0 9 4 17 10 24 7 7 16 10 27 10l0 0c11 0 20-3
      27-10 7-7 11-15 11-24z m167 259l66 0
      0-114c0-29-7-51-21-66-14-15-32-23-55-23-26 0-46 11-60 34l1 0 0-29-66 0c0
      12 0 78 0 198l66 0 0-111c0-7 0-12 2-16 2-7 7-12 12-17 6-5 13-7 22-7 22 0
      33 15 33 45z m133-285l0 274c0 23-8 42-24 58-16 16-35 24-58 24l-274 0c-23
      0-42-8-58-24-16-16-24-35-24-58l0-274c0-23 8-42 24-58 16-16 35-24 58-24l274
      0c23 0 42 8 58 24 16 16 24 35 24 58z" />
  </symbol>

  <symbol id="icon-twitter" viewBox="0 0 512 512">
    <path
      d="m481 117c-13 18-28 34-46 47 0 3 0 7 0 12 0 25-3 50-11 74-7 25-18 49-33
      71-14 23-32 43-52 61-21 17-45 31-74 41-29 11-60 16-92 16-52 0-99-14-142-42
      7 1 14 2 22 2 43 0 81-14 115-40-20 0-38-6-54-18-16-12-27-27-33-46 7 1 13 2
      18 2 8 0 16-1 24-4-21-4-39-15-53-31-14-17-21-37-21-59l0-1c13 7 27 11 42
      11-13-8-23-19-30-32-8-14-11-29-11-44 0-17 4-33 12-47 23 28 51 51 84 68 33
      17 69 27 107 29-2-8-3-15-3-22 0-25 9-47 27-65 18-18 40-27 66-27 26 0 49 10
      67 29 21-4 40-11 59-22-7 22-21 39-41 51 18-2 35-7 53-14z" />
  </symbol>

  <symbol id="icon-key" viewBox="0 0 512 512">
    <path
      d="m479 230c-1-2-1-4-3-6c-2-2-5-3-7-3l-202 0c-13-51-60-89-115-89c-65 0-119
      54-119 119c0 66 54 119 119 119c59 0 107-43 117-99l45 0l0 65l0 0c0 5 5 9 10
      9c0 0 0 0 0 0l0 0l31 0l0 0c5 0 10-4 10-9l0 0l0-65l26 0l0 100l0 0c0 5 4 9 9
      9c0 0 0 0 0 0l32 0c0 0 0 0 0 0c5 0 9-4 10-9l0 0l0-100l27 0l0 0c2 0 5 0
      7-2c2-2 3-5 3-7l0 0l0-32l0 0z m-327 90c-37 0-68-30-68-68c0-38 31-68
      68-68c38 0 68 30 68 68c0 38-30 68-68 68z" />
  </symbol>

  <symbol id="icon-github" viewBox="0 0 512 512">
    <path
      d="m475 256c0 48-14 91-41 129-28 38-64 65-109 79-5 1-8
      1-11-2-2-2-3-5-3-8l0-61c0-18-5-32-15-40 11-1 20-3 29-5 9-3 18-6 27-11 9-6
      17-12 23-19 6-8 11-18 15-30 4-13 6-27 6-43 0-23-8-43-23-59 7-18
      7-37-2-59-5-1-13 0-23 4-10 3-19 8-26 12l-11 7c-18-5-36-7-55-7-19 0-37 2-55
      7-3-2-7-5-12-8-5-3-13-6-24-11-11-4-19-5-24-4-9 22-9 41-2 59-15 16-23 36-23
      59 0 16 2 30 6 42 4 13 9 23 15 30 6 8 14 14 23 20 9 5 18 8 27 11 8 2 18 4
      29 5-8 7-12 17-14 29-4 2-8 4-13 5-4 1-10 1-16 1-6
      0-13-2-19-6-6-4-11-10-16-18-3-6-8-11-14-15-5-4-10-6-14-7l-5-1c-4 0-7 1-9
      2-1 1-2 2-1 3 0 1 1 3 2 4 2 1 3 2 4 3l2 2c4 2 8 5 13 11 4 5 7 10 9 14l2
      7c3 7 7 13 13 17 6 5 12 8 19 9 7 1 14 2 20 2 6 0 12 0 16-1l6-1c0 7 0 16 1
      25 0 10 0 15 0 16 0 3-2 6-4 8-2 3-6 3-11
      2-45-14-81-41-109-79-27-38-41-81-41-129 0-40 9-77 29-110 20-34 46-60 80-80
      33-20 70-29 110-29 40 0 77 9 110 29 34 20 60 46 80 80 20 33 29 70 29 110z" />
  </symbol>

  <symbol id="icon-gitlab" viewBox="0 0 512 512">
    <path
      d="m30 202l226 290-248-180c-3-3-6-6-7-10-1-4-1-8 0-12z m132 0l188 0-94
      290z m-57-175l57 175-132 0 56-175c2-5 5-7 10-7 4 0 8 2 9 7z m377 175l29
      88c1 4 1 8 0 12-1 4-4 7-7 10l-248 180z m0 0l-132 0 57-175c1-5 5-7 9-7 5 0
      8 2 10 7z" />
  </symbol>

  <symbol id="icon-mail" viewBox="0 0 512 512">
    <path
      d="m448 80l-384 0c-35 0-64 29-64 64l0 208c0 35 29 64 64 64l384 0c35 0
      64-29 64-64l0-208c0-35-29-64-64-64z m-416 84l112 84l-112 84z m448 188c0
      18-14 32-32 32l-384 0c-18 0-32-14-32-32l125-94l70 52c9 7 19 10 29 10c10 0
      20-3 29-10l70-52z m0-20l-112-84l112-84z m-205-34c-5 4-12 6-19 6c-7
      0-14-2-19-6l-66-50l-14-10l-125-94l0 0c0-18 14-32 32-32l384 0c18 0 32 14 32
      32z" />
  </symbol>
</svg>
