<script lang="ts">
	import {
		cards,
		getCards,
		visibleDecks
	} from '$lib/store/library';
	import { derived, get, writable } from 'svelte/store';
	import { onDestroy, onMount } from 'svelte';
	import { page } from '$app/stores';
	import { queryString } from '$lib/urls';
	import { find } from '$lib/items';
	import CardViewer from '$lib/cards/Viewer.svelte';

	let index = 0;

	const updateCardDeck = () => {
		const $cards = get(cards);
		const $visibleDecks = get(visibleDecks);
		let currentDeck = get(cardDeck);

		if (!$cards) {
			if ($visibleDecks?.length) {
				getCards(null);
			}

			return null;
		}

		// Only reshuffle those that haven't been seen
		if (currentDeck?.length) {
			currentDeck = currentDeck.slice(0, index + 2);
		}

		let deck = [];
		for (let i = 0; i < $visibleDecks.length; i++) {
			const deckCards = $cards[$visibleDecks[i]['@id']];
			if (!deckCards) {
				continue;
			}

			for (let j = 0; j < deckCards.length; j++) {
				if (find(currentDeck, deckCards[j]) === -1) {
					deck.push(deckCards[j]);
				}
			}
		}

		// Shuffle the deck
		if (deck.length) {
			const shuffled = [];

			while(deck.length) {
				const i = Math.floor(Math.random() * deck.length);
				shuffled.push(deck.splice(i, 1)[0]);
			}

			deck = shuffled;
		}

		if (currentDeck === null) {
			currentDeck = deck;
		} else {
			currentDeck = currentDeck.concat(deck);
		}

		cardDeck.set(currentDeck);
	};
	const cardDeck = writable(null, updateCardDeck);
	const subscriptions = []
	subscriptions.push(cards.subscribe(updateCardDeck));
	subscriptions.push(visibleDecks.subscribe(updateCardDeck));

	onDestroy(() => {
		for (let i = 0; i < subscriptions.length; i++) {
			subscriptions[i]();
		}
	});

	onMount(() => {
		getCards(null);
	});
</script>


<div>
	<a href="/{queryString($page.url.searchParams)}">Back to library</a>
</div>

<CardViewer
	cards={$cardDeck}
	index={index}
	on:updateIndex={(event) => index = event.detail.index}
/>
