<script lang="ts">
	import { createEventDispatcher, onMount, onDestroy } from 'svelte';
	import { browser } from '$app/env';

	const dispatch = createEventDispatcher();
	export let cards = null;
	export let index = 0;
	let card = null;

	const keyup = (event: Event) => {
		switch (event.key) {
			case 'ArrowRight':
				next();
				break;
			case 'ArrowLeft':
				prev();
				break;
			case 'ArrowUp':
			case 'ArrowDown':
				flip();
				break;
		}
	};

	const flip = (event?: Event) => {
		if (event) {
			if (event.defaultPrevented) {
				return;
			}

			event.preventDefault();
		}

		card.classList.toggle('flipped');
		// TODO Set aria attribute to mark back of card as hidden
		if (card.classList.contains('flipped')) {
		} else {
		}
	}

	const prev = () => {
		dispatch('updateIndex',{
			index: Math.max(0, index - 1)
		});
	};

	const next = () => {
		dispatch('updateIndex',{
			index: Math.min(cards.length - 1, index + 1)
		});
	};

	onMount(() => {
		document.body.addEventListener('keyup', keyup);
	});

	onDestroy(() => {
		if (browser) {
			document.body.removeEventListener('keyup', keyup);
		}
	});
</script>

<style>
.container {
	perspective: 1000px;
}

.container:global(.flipped) .card {
	transform: rotateY(180deg);
}

.card {
	transition: 0.6s;
	transform-style: preserve-3d;
	position:relative;
	width: 100%;
	height: 50vh;
	border: red;
}

ul.tags {
  display: inline-flex;
  padding: 0;
}

@media(prefers-reduced-motion) {
	.card {
		transition: 0s;
	}
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	background: var(--main-background);
	color: #333;
	color: var(--main-color);
	text-align: center;
  display: flex;
  flex-direction: column;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}

.content {
  flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.notes {
  font-size: 0.9em;
  font-style: italic;
}

.meta {
	text-align: right;
}

.tags {
	font-size: 0.8em;
}
</style>

{#if cards}
	{#if index < cards.length}
		{#key index}
		<div class="container" bind:this={card} on:click={flip}>
			<div class="card">
				<div class="front">
					<div class="content">
						{#each cards[index].front.content as part}
							{#if part.encodingType === 'text/plain' || !part.encodingType}
								{#each part.content.split('\n\n') as text }
									<p>{ text }</p>
								{/each}
							{/if}
						{/each}
					</div>
				</div>
				<div class="back">
					<div class="content">
						{#each cards[index].back.content as part}
							{#if part.encodingType === 'text/plain' || !part.encodingType}
								{#each part.content.split('\n\n') as text }
									<p>{ text }</p>
								{/each}
							{/if}
						{/each}
					</div>
          <div class="notes">
            {#if cards[index].notes}
              {#each cards[index].notes.content as part}
                {#if part.encodingType === 'text/plain' || !part.encodingType}
                  {#each part.content.split('\n\n') as text }
                    <p>{ text }</p>
                  {/each}
                {/if}
              {/each}
            {/if}
          </div>
				</div>
			</div>
			<div class="meta">
				{#if cards[index].deck}
					<span class="name">
						{cards[index].deck.name}
					</span>
					{#if cards[index].deck.tags}
						<ul class="tags">
              {#each cards[index].deck.tags as tag}
							  <li><a href={`/?tag=${tag}`}>#{tag}</a></li>
              {/each}
						</ul>
					{/if}
				{/if}
			</div>
		</div>
		{/key}
	{/if}
	<div>
		<div>{index + 1} / {cards.length}</div>
		<button on:click={prev}>Prev</button>
		<button on:click={next}>Next</button>
	</div>
{/if}
