:root {
	--background: #eee;
	--color: #4f4f4f;

	--main-background: #fff;
	--main-color: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --color: #959595;

    --main-background: #111;
    --main-color: #9f9f9f;

    --link-color: #e0e0e0;
    --link-color-hover: #fff;
  }
}

html, body {
	background: var(--background);
	color: var(--color);
	margin: 0;
}

main {
	padding: 10px 20px;
}

a {
  color: var(--link-color);

  &:hover {
    color: var(--link-color-hover);
  }
}

header {
	padding: 5px 10px;
}

h1 {
	font-size: 1rem;
	margin: 0;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

ul.tags {
  display: flex;
  gap: 0.5em;
  font-size: 0.9em;
  margin: 0;

  li {
    list-style: none;
  }
}

#remotestorage-widget {
  position: absolute;
  top: 0;
  right: 0;
}
